name: Build & Deploy Multi-Arch Docker

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    # Step 1: Checkout code
    - name: Checkout
      uses: actions/checkout@v3

    # Step 2: Set up QEMU for multi-arch
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2

    # Step 3: Set up Docker Buildx
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    # Step 4: Log in to Docker Hub
    - name: Docker Login
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    # Step 5: Build and push multi-arch image
    - name: Build & Push Multi-Arch Image
      uses: docker/build-push-action@v4
      with:
        context: .
        push: true
        platforms: linux/amd64,linux/arm64
        tags: shrutikoranne/smtp-notification:latest

    # Step 7: Deploy to EC2
    - name: Deploy to EC2
      uses: appleboy/ssh-action@v0.1.7
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          docker pull shrutikoranne/smtp-notification:latest
          docker stop smtp-notification || true
          docker rm smtp-notification || true
          docker run -d --name smtp-notification -p 3000:3000 shrutikoranne/smtp-notification:latest

