name: ARM64 Build & Deploy with Email Notification

on:
  push:
    branches: [ main ]

jobs:
  build:
    name: Build ARM64 Image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Registry
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push ARM64 Image
        run: |
          docker buildx build \
            --platform linux/arm64 \
            -t shrutikoranne/arm64-demo:latest \
            --push .